gem '<%= name %>'

after_bundler do

end

after_everything do

end

__END__

name: <%= name.humanize.capitalize %>
description:
website:
author: <%= `whoami`.strip %>

requires: []
run_after: []
run_before: []

category: other # authentication, testing, persistence, javascript, css, services, deployment, and templating
# exclusive:

# config:
#   - foo:
#       type: boolean
#       prompt: "Is foo true?"
